  .regras {
    margin: auto;
    width: 50%;
  }
  
  .regras h1{
    text-align: center;
  }
  
  .regras h2{
    font-size: 42px;
  }
  
  .regras p{
    font-size: 32px;
  }
  
  .ul-icon {
    list-style-image: url(assets/assets-regras/cerve.png);
  }
  
.style {
    text-align: center;
}

h1 {
    font-size: 400%;
}

h2 {
text-align: justify;
font-size: 300%     
}
p {
    text-align: justify;
    font-size: 200%;
}
